.characterPage{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    /*background-image: url("../images/test4.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;

     */

}

.content{
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 967px;
    background: blueviolet;


}

.skillInfo {
    width: 400px;
    height: auto;
    background: #47ff12;
}

.skillGrid {
    height: 100%;
}


.characterInfo{
    width: 800px;
    height: auto;
    background: blue;
}





.info {
    display: flex;
    width: 100%;
    height: 50px;
    direction: ltr;
    align-items: center;

}


.DivName{
    width: 500px;
}

.DivSpecies{
    width: 200px;
}

.DivClass{
    width: 20px;
}

